################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/packages
/Web/bin
/Web/obj/Debug
/WebApi/obj/Debug
.idea
node_modules
